In [69]:
try:
    import geemap, ee
except ModuleNotFoundError:
    if 'google.colab' in str(get_ipython()):
        print("package not found, installing w/ pip in Google Colab...") ## for google collab
        !pip install geemap
    else:
        print("package not found, installing w/ conda...")
        !conda install mamba -c conda-forge -y   ## for your local directory
        !mamba install geemap -c conda-forge -y
    import geemap, ee

In [70]:
try:
        ee.Initialize()    ## This is done anytime you want to use the google earth engine API.
except Exception as e:
        ee.Authenticate()  ## To help google earth engine link your account
        ee.Initialize()

In [71]:

# you 1st need to right click on the shared folder and select 'Add to my Drive'
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [72]:
import pandas as pd
import ee
import geemap

#import geopandas as gpd
#import rasterio
#import gdal

In [73]:
# Accessing LGA level polygon boundaries of Nigeria using GIS extracted dataset 
#nig_lga = ee.FeatureCollection("users/ayanmiayan2010/LGA") \
#            .filter(ee.Filter.eq('LGA', 'Nigeria'))

In [75]:
# Accessing state level polygon boundaries of Nigeria using FAO dataset
nigeria = ee.FeatureCollection("FAO/GAUL/2015/level2") \
            .filter(ee.Filter.eq('ADM0_NAME', 'Nigeria'))

In [76]:
# Access the solar potential raster image downloaded as asset
pvpotential = ee.Image("users/ayanmiayan2010/PVOUT_NIG")

In [77]:
# Add reducer output to the Features in the collection.
pvpot = pvpotential.reduceRegions(
  collection = nigeria,
  reducer = ee.Reducer.mean(),
);

In [78]:
#Converting the GEE Feature Collection into a pandas dataframe
pvPotdf = geemap.ee_to_pandas(pvpot)

In [79]:
pvPotdf

     ADM0_CODE ADM0_NAME  ADM1_CODE  ... Shape_Area  Shape_Leng      mean
0          182   Nigeria      65709  ...   0.203399    1.915226  4.696233
1          182   Nigeria       2216  ...   0.204833    2.808507  4.751515
2          182   Nigeria       2216  ...   0.439860    4.543677  4.702281
3          182   Nigeria       2240  ...   0.356411    3.409977  4.771416
4          182   Nigeria       2226  ...   0.075656    1.289336  4.803762
..         ...       ...        ...  ...        ...         ...       ...
770        182   Nigeria      65709  ...   0.173053    2.308026  4.697784
771        182   Nigeria       2227  ...   0.403523    2.967221  4.434699
772        182   Nigeria      65710  ...   0.230798    2.567153  4.707865
773        182   Nigeria       2231  ...   0.851470    5.288074  4.319234
774        182   Nigeria       2230  ...   0.014824    0.851062  3.819987

[775 rows x 13 columns]

In [80]:
# Sort the dataframe by PV potential 
pvPotdf[['ADM2_NAME','mean']].sort_values(by='mean', ascending = False)

      ADM2_NAME      mean
4         Mashi  4.803762
6      Mai'Adua  4.795424
20        Dutsi  4.791589
22      Sandamu  4.789842
485       Kaita  4.787656
..          ...       ...
766      Gokana  3.412188
761  Mkpat Enin  3.410455
443         Tai  3.396330
441       Khana  3.390913
451       Nembe  3.358800

[775 rows x 2 columns]